:root {
    --branco: #E6E9E4;
    --azul: #11114E;
    --preto: #252525;
    --fundo-pag: var(--fundo-calculadora);
    --cor-texto: black;
    --caixa-texto: var(--branco);
    --fundo-calculadora: #040908;
    --cor-hover: #252525;
    --input: var(--fundo-calculadora);
    --tela-resultado: var(--branco);
    --cor-resultado: var(--cor-texto);
    --cor-erro: #8B0000;
    --verde: #008000;
}

body {
    display: flex;
    justify-content: center;
    background: var(--fundo-pag);
    font-weight: 100;
    margin: 6em 0 0 0;
}

.calculadora {
    width: 28em;
    height: 34em;
    font-size: 16px;
}

.caixa_calculadora {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-radius: 1em;
    text-align: center;
    color: var(--branco);
}

.titulo-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    text-transform: uppercase;
}

.preencher_conteudo {
    display: flex;
    flex-direction: column;
}

.caixa_preencher {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.caixa_informativa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 2em;
    margin: 0;
}

.box_preencher {
    width: 50%;
    height: 2.4em;
    padding: 0;
    background-color: var(--input);
    text-align: center;
    font-weight: bold;
    color: var(--branco);
    border: none;
    transition: 1s ease;
    outline: none;
}

.box_preencher:focus {
    background-color: var(--cor-hover);
}

.caixa_botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 0 0;
}

.botao {
    width: 25%;
    font-size: 10px;
    margin: 0;
    padding: 1em;
    text-transform: uppercase;
    background-color: var(--cor-hover);
    color: var(--branco);
    border-radius: 0.5em;
}

#botaoRecarregar {
    display: none;
}

#botaoCopiar {
    display: none;
}

.caixa_resposta {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 10em;
    padding: 1em;
    background-color: var(--tela-resultado);
    border-radius: 10px;
    font-size: 1em;
    color: var(--cor-resultado);
    transition: 0.5s ease;
}

.resposta_erro {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 10em;
    padding: 1em;
    background-color: var(--tela-resultado);
    border-radius: 10px;
    font-size: 1em;
    color: var(--cor-erro);
    text-transform: uppercase;
}

@media (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        overflow: hidden;
        margin: 0;
    }

    .calculadora {
        margin: 3em 0;
        padding: 0;
        font-size: 15px;
    }

    .caixa_calculadora {
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .titulo-pagina {
        font-size: 26px;
    }

    #resposta {
        height: 12em;
    }

}